@media screen and (min-width: 200px) and (max-width: 700px) {
  body {
    margin: auto 2em;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .alert-info {
    text-align: center;

    margin-top: 1em;
    width: 100%;
    background-color: lightblue;
    border: solid lightgrey 2px;

    padding: 1em 0em;
  }
  .alert-info a {
    text-decoration: none;
    color: black;
  }
  h1 {
    font-size: 15vh;
    margin: auto;
  }
  nav {
    width: 100%;
  }
  ul {
    display: block;
    margin: 3vh 0 0 0;
    padding: 0;
  }
  li {
    list-style: none;
    background-color: lightgray;
    padding: 1em 0;
    margin: 0.5em auto;
    text-align: center;
  }
  .header-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .header-img img {
    width: 100%;
    height: auto;
  }
  footer {
    margin-right: auto;
  }
}

@media screen and (min-width: 701px) and (max-width: 3000px) {
  body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5em;
    align-items: baseline;
    flex-direction: row;
  }
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .hidden-on-desktop {
    display: none;
  }
  h1 {
    flex-grow: 1;
    text-align: left;
  }
  nav {
    /* display: flex; */
  }
  ul {
    list-style: none;
  }
  li {
    display: inline;
    padding: 0 0.5em;
  }
  .header-img {
    width: 100%;
  }
  .header-img img {
    width: 100%;
    height: auto;
  }
  .main {
    width: 50%;
  }
  .sub-section {
    width: 50%;
    font-style: italic;
  }
  footer {
    margin-top: auto;
    /* margin-bottom: 0; */
  }
}
