html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.hundred {
  height: 100%;
}

/* ---------------- NAVBAR ------------------ */
.navbar {
  background-color: #333;
  margin-bottom: 20px;
}
.small-img {
  height: 30px;
  padding: 10px;
}
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  position: relative;
}

.nav-li a {
  display: inline-block;

  color: #ddd;
  text-align: center;
  padding: 14px 16px;
}
/* ------------------ HEADER --------------------- */

.codeup-img {
  vertical-align: middle;
  height: 30px;

  margin-left: 10px;
}
.org {
  display: inline;
}

.active-tab {
  /* background-color: white; */
  background: linear-gradient(0deg, #fff 95%, #ff5500 5%);
}
.active-tab a {
  /* background-color: white; */
  background: linear-gradient(0deg, #fff 95%, #ff5500 5%);
  color: black !important;
  /* font-weight: bold; */
}

.tab-li a {
  display: block;
  font-size: 15px;
  color: #888;
  text-align: center;
  padding: 14px 24px 14px 12px;

  text-decoration: none;
}

.tab-body {
  margin-top: -4px;
  padding-top: 40px;
  background-color: white;
  flex: auto;
  width: 100%;
  height: 100%;
}

.tab-badge {
  position: absolute;
  bottom: 15px;
  right: 4px;

  padding: 1px;
  border-radius: 4px;
  font-size: 12px;
  color: #222;
  background-color: #ddd;
}

table {
  margin-left: 50px;
  width: 90%;
  background-color: #eee;
  border: 1px solid;
  border-color: #ccc;
  border-collapse: collapse;
}
th {
  background-color: #eee;
  color: #111;
  text-align: left;
  padding: 10px 0px 20px 40px;
}
tr {
  color: #666;
  background-color: white;
  position: relative;
  width: auto !important;
  height: 21px;
  border: 1px solid;
  border-color: #ccc;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
}
td div {
  padding-top: 5px;
  font-size: 13px;
}
a {
  text-decoration: none;
}

.avatar-img {
  height: 40px;
  padding: 5px 10px 5px 40px;
}
.name-col {
  width: auto;
}
.col {
  width: 100px;
}
.r-col {
  text-align: right;
  padding-right: 20px;
  width: 100px;
}
footer {
  display: block;
  margin-top: -140px;
}
.foot-left {
  float: left;
}
.foot-right {
  float: right;
  margin-right: 10px;
}
footer span {
  font-size: 12px;
  padding-left: 10px;
}
footer a {
  font-size: 12px;
  padding-left: auto;
  padding-right: auto;
}
